@media (max-width: 575.98px) {
  .showcase-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .showcase-inner h1 {
    font-size: 2rem;
  }
  .showcase-inner p {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background-color: rgba(1, 1, 137, 0.323);
  color: white;
  height: 100vh;
  position: relative;
}

.showcase::before {
  content: "";
  background-image: url(../img/close-up-pen-with-tablet-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.showcase-inner h1 {
  font-size: 4rem;
}
.showcase-inner p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 162, 234, 0.796);
  transition: opacity 0.5s ease-in;
  font-weight: bold;
}

.btn:hover,
.service-btn:hover {
  opacity: 0.5;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.toggle-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  transition: transform 0.4s ease;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 162, 234, 0.4);
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.overlay > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.4s ease;
}

.nav-items {
  position: relative;
  border: 2px solid white;
  top: 0;
  height: 90vh;
  background-color: rgba(0, 162, 234, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
.nav-items li {
  z-index: 2;
  list-style: none;
  padding: 1rem;
}
.nav-items a {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 1rem 4rem;
  text-decoration: none;
  color: white;
  transition: opacity 0.5s ease-in;
}

.nav-items::before {
  content: "";
  background-color: rgba(0, 162, 234, 0.796);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-items a:hover {
  background-color: white;
  border-radius: 5px;
  color: rgba(0, 162, 234, 0.796);
}

.logo {
  position: absolute;
  top: 20%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-image: url(../img/HERE.svg);
  height: 350px;
  width: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.service-elements {
  margin-top: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.service-btn {
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 162, 234, 0.796);
  transition: opacity 0.5s ease-in;
  font-size: 24px;
  border-right: 2px solid;
}

.service-btn:last-child {
  border: none;
}

form {
  width: 100%;
  margin: 2rem auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type=text],
input[type=email] {
  width: 70%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 50%;
  max-height: 70%;
  min-width: 100%;
  max-width: 100%;
}

button[type=submit] {
  display: inline-block;
  margin-top: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 162, 234, 0.796);
  transition: opacity 0.5s ease-in;
  cursor: pointer;
  font-weight: bold;
}

button[type=submit]:hover {
  opacity: 0.5;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .logo {
    top: 12%;
    left: 88%;
    height: 270px;
    width: 270px;
  }
  .showcase-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .showcase-inner h1 {
    margin-top: 3rem;
    font-size: 3.5rem;
  }
  .showcase-inner p {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
  .service-elements {
    margin-top: 2rem;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }
  .service-btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 162, 234, 0.796);
    transition: opacity 0.5s ease-in;
    font-size: 20px;
    border-right: 2px solid white;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .logo {
    top: 12%;
    left: 88%;
    height: 270px;
    width: 270px;
  }
  .showcase-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .showcase-inner h1 {
    margin-top: 3rem;
    font-size: 3.5rem;
  }
  .showcase-inner p {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
  .service-elements {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }
  .service-btn {
    cursor: pointer;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 162, 234, 0.796);
    transition: opacity 0.5s ease-in;
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .logo {
    top: 10%;
    left: 88%;
    height: 200px;
    width: 200px;
  }
  .showcase-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .showcase-inner h1 {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
  .showcase-inner p {
    margin: 0.2rem;
    font-size: 0.9rem;
  }
  .service-elements {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }
  .service-btn {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 162, 234, 0.796);
    transition: opacity 0.5s ease-in;
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .logo {
    top: 7%;
    left: 50%;
    height: 150px;
    width: 150px;
  }
  .showcase-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .showcase-inner h1 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .showcase-inner p {
    margin: 0.2rem;
    font-size: 0.9rem;
  }
  .service-elements {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .service-btn {
    cursor: pointer;
    border-radius: 2px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 162, 234, 0.796);
    transition: opacity 0.5s ease-in;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */